[MASTER]
ignore=.venv,.idea,pyproject.toml,uv.lock,.env,.env.example,rag

[MESSAGES CONTROL]
disable=broad-exception-caught,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        import-error,
        too-few-public-methods,
        no-name-in-module
